{% extends 'base.html' %}

{% block content %}
<div style="padding-top: 70px;">
<style>
    .signin-form-container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
        text-align: center;
    }

    .signin-form-container h1 {
        margin-bottom: 20px;
        color: #536DFE;
    }

    .signin-form-container form {
        display: grid;
        grid-gap: 20px; /* Espacio entre campos del formulario */
    }

    .signin-form-container form p {
        margin: 0; /* Elimina los márgenes por defecto en los párrafos */
        display: flex;
        flex-direction: column;
    }

    .signin-form-container form p label {
        text-align: left;
        margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
    }

    .signin-form-container form input[type="text"],
    .signin-form-container form input[type="password"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .signin-form-container button {
        padding: 10px 20px;
        background-color: royalblue;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%; /* Hace que el botón se expanda para llenar el ancho del formulario */
        margin-top: 20px;
    }

    .signin-form-container button:hover {
        background-color: #4158D0;
    }

    .error {
        color: red;
        margin-bottom: 20px;
    }
</style>

<div class="signin-form-container">
    <h1>SIGN IN</h1>

    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST" action="/signin/">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SignIn</button>
    </form>
</div>
</div>
{% endblock %}
